@import "../../global.scss";

.about {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .bgimg {
    width: 100%;
    opacity: 0.3;
    z-index: 1;
  }

  .imgContainer {
    transition: all 1s ease;
    // background-color: rgb(253, 0, 0);
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 65%;
    right: 0;
    width: 180px;
    height: 180px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    // text-align: center;
    border-radius: 50%;
    border: solid;
    border-color: yellow;
    border-width: 2px;

    &:hover {
      transform: scale(1.08);
    }

    @include mobile {
      left: 75%;
      width: 100px;
      height: 100px;
    }

    img {
      transition: all 0.5s ease;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  h1 {
    font-size: 40px;
    z-index: 2;
    position: absolute;
    top: 3%;
    left: 0;
    right: 0;
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
    margin-top: -13px; /* 1/2 height */
    text-align: center;
    padding-bottom: 3px;
  }
  #mainDiv {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 47.1%;
    right: 0;
    width: 100px;
    height: 0.1px;
    padding: 0;
    margin: 0;
    margin-top: -13px; /* 1/2 height */
    text-align: center;
    padding-bottom: 3px;
    background-color: yellow;

    @include mobile {
      left: 40%;
    }
  }
  .container {
    border: solid;
    border-color: yellow;
    border-width: 1px;
    overflow: hidden;
    transition: all 1s ease;
    font-size: 20px;
    text-align: unset;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 55%;
    width: 30%;
    height: 70%;
    padding: 0;
    margin: 0;
    // background-color: white;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;

    @include mobile {
      right: 40%;
      width: 55%;
    }

    .para {
      // font-family: "Allison", cursive;
      // font-family: "Dancing Script", cursive;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 50px;
      font-size: 22px;

      @include mobile {
        font-size: 15px;
        padding-top: 50px;
      }
    }
    &:hover {
      transform: scale(1.08);
    }
  }
}
