@import "../../global.scss";

.about {
  background-color: rgb(255, 255, 255);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .bgimg {
    width: 100%;
    opacity: 0.3;
    z-index: 1;
  }

  .imgContainer {
    background-color: black;
    transition: all 1s ease;
    // background-color: rgb(253, 0, 0);
    z-index: 2;
    position: absolute;
    top: 34%;
    left: 65%;
    right: 0;
    width: 230px;
    height: 300px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    // border: solid;
    // border-color: rgb(0, 0, 0);
    // border-width: 5px;

    &:hover {
      transform: scale(1.08);
    }

    @include mobile {
      left: 75%;
      width: 100px;
      height: 100px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      // object-fit: contain;
    }
  }

  h1 {
    color: black;
    font-size: 50px;
    z-index: 2;
    position: absolute;
    top: 3%;
    left: 0;
    right: 0;
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
    margin-top: -13px; /* 1/2 height */
    text-align: center;
    padding-bottom: 3px;
  }
  // #mainDiv {
  //   z-index: 2;
  //   position: absolute;
  //   top: 10%;
  //   left: 47.1%;
  //   right: 0;
  //   width: 100px;
  //   height: 0.1px;
  //   padding: 0;
  //   margin: 0;
  //   margin-top: -13px; /* 1/2 height */
  //   text-align: center;
  //   padding-bottom: 3px;
  //   background-color: yellow;

  //   @include mobile {
  //     left: 40%;
  //   }
  // }
  .container {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    transition: all 1s ease;
    font-size: 20px;
    text-align: unset;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 55%;
    width: 35%;
    height: 70%;
    padding: 0;
    margin: 0;
    // background-color: white;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;

    @include mobile {
      right: 40%;
      width: 55%;
    }

    .para {
      // font-family: "Allison", cursive;
      // font-family: "Dancing Script", cursive;
      padding-top: 30px;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 50px;
      font-size: 22px;

      @include mobile {
        font-size: 15px;
        padding-top: 50px;
      }
    }
    &:hover {
      transform: scale(1.08);
    }
  }
}
